<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Name</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Contact Name" name="name" value="<%= polldb.name %>" required>
              </div>
              <div class="form-group">
                <label for="CostTextField">Phone</label>
                <input type="text" class="form-control" id="CostTextField"
                placeholder="Contact Phone" name="phone" value="<%= polldb.phone %>"  required>
              </div>
              <div class="form-group">
                <label for="RatingTextField">Email</label>
                <input type="text" class="form-control" id="RatingTextField"
                placeholder="Contact email" name="email" value="<%= polldb.email %>"  required>
              </div>

              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/polldb" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
